<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <!-- normalize.css -->
    <link rel="stylesheet" href="../public/css/normalize.css">
    <!-- custom styles -->
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/queries.css">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="../public/img/favicon.png">
    <title>Invigilus Exam Registration</title>
	<!-- script -->
	<script src="../public/js/script.js"></script>
</head>
<body>
    <nav class="navigation">
        <img src="../public/img/logo.png" class="navigation_logo" alt="logo">
        <ul class="navigation_links">
            <li><a href="#">home</a></li>
            <li><a href="#">about us</a></li>
        </ul>
    </nav>

    <main id="main">
        <div class="error">
            <h1 class="error_head">404 error</h1>
            <h3 class="error_sub">Something went wrong.</h3>
        </div>
    </main>

    <footer id="footer">
        <div class="footer_wrap">
            <ul class="footer_nav">
                <li><a href="#">privacy policy</a></li>
                <li><a href="#">blog</a></li>
                <li><a href="#">contact</a></li>
            </ul>

            <div class="footer_tag">
                <p>developed by the SAIT OOSD program &copy; 2020</p>
            </div>
        </div>
    </footer>
    <!-- custom script -->
    <script src="../public/js/script.js"></script>
</body>
</html>