			</h1>
			<h2>				
				We will send an email with our survey link to you shortly.<br/>
				Take a break, you've earned it!
			</h2>
        </div>
    </main>

    <footer id="footer">
        <div class="footer_wrap">
            <ul class="footer_nav">
                <li><a href="#">privacy policy</a></li>
                <li><a href="#">blog</a></li>
                <li><a href="#">contact</a></li>
            </ul>

            <div class="footer_tag">
                <p>developed by the SAIT OOSD program &copy; 2020</p>
            </div>
        </div>
    </footer>
    <!-- custom script -->
    <script src="../public/js/script.js"></script>
</body>
</html>