/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100%;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
}

/* LANDING PAGE */
.navigation {
    background-color: #fff;
    box-shadow: 0px 4px 9px -8px rgba(110,109,110,1);
    display: flex;
    width: 100%;
}

.navigation_logo {
    height: 4.5rem;
    margin: .65rem 5rem;
    width: auto;
}

.navigation_links {
    display: inline-block;
    flex-grow: 3;
    list-style: none;
    margin: .25rem 5rem;
    text-align: right;
}

.navigation_links li {
    display: inline-block;
    font-size: 110%;
    margin-top: 2.25rem;
}

.navigation_links li:first-child {
    margin-right: 3rem;
}

.navigation_links li a:link,
.navigation_links li a:visited {
    color: #3cB650;
    font-size: 110%;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.navigation_links li a:hover,
.navigation_links li a:active {
    border-bottom: 2px solid #3cB650;
}

#main {
    height: 75vh;
    width: 100%;
	background-color: #3cb650;
}

.people {
	height: 82vh;
	position: relative;
	top: -5%;
	margin: 0 auto 0 auto;
	animation: fadein 1s forwards;
}

/* Animation for image fade in */
@keyframes fadein{
	from {left: 40%}
	to {left: 45%}
	from {opacity: 0}
	to {opacity: 1}
}

.hero {
    position: absolute;
    left: 5%;
    top: 20%;
    text-align: left;  
}

.hero_title {
	font-size: 275%;
    letter-spacing: .1rem;
    line-height: 3.25rem;
    word-spacing: .15rem;
	margin: 4rem auto 4rem auto;
}

.hero_text{
	margin: 2rem auto 3rem auto;
	font-weight: 100;
    word-spacing: .2rem;
    text-align: left;  
}

.hero_btn {
    border: 1px solid white;
    border-radius: 20px;
	background-color: black;
    color: white;
    display: block;
	/* text-transform: uppercase; */
    font-weight: 500;
	font-size: 130%;
    height: 3rem;
	max-width: 200px;
    letter-spacing: .06rem;
    padding-top: .65rem;
    text-align: center;
    text-decoration: none;
	transition: 0.3s;
}

.hero_btn:hover {
	background-color: white;
	color: black;
}

#footer {
    color: #3cB650;
    text-align: center;
    width: 100%
}

.footer_wrap {
    box-shadow: 0px -4px 9px -8px rgba(110,109,110,1);
    display: flex;
}

.footer_nav {
    display: flex;
    flex-grow: 1;
    list-style: none;
    margin-bottom: 0;
}

.footer_nav li {
    color: #fff;
    display: inline-block;
    font-size: 110%;
    margin: 2rem 1.5rem 2rem 1.5rem;
}

.footer_nav li:first-child {
    margin-left: 5rem;
}

.footer_nav li a:link,
.footer_nav li a:visited {
    color: #3cB650;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.footer_nav li a:hover,
.footer_nav li a:active {
    border-bottom: 1px solid #3cB650;
}

.footer_tag {
    display: flex;
    flex-grow: 1;
    margin-bottom: 0;
    width: 50%;
}

.footer_tag p {
    margin: 2rem 5rem 0 60%;
    font-size: 90%;
}

/* REGISTRATION PAGE */


/* 404 PAGE */
.error {
    position: relative;
    text-align: center;
}

.error_head {
    padding-top: 15rem;
    padding-bottom: 0;
    margin-bottom: 0.5rem;
}

.error-sub {
    padding-top: 0;
    margin-top: 0;
}

/* CONNECTING PAGE */
.loading-dots {
    padding-top: 2.5rem;
    text-align: center;
    z-index: 5;
}

.loading-dots_link {
    text-decoration: none;
    color: #fff;
}

.dot {
	display: inline;
	margin-left: 0.2em;
	margin-right: 0.2em;
	position: relative;
	top: -1em;
	font-size: 3.5em;
	opacity: 0;
	animation: showHideDot 1.5s ease-in-out infinite;
}

.one { animation-delay: 0.2s; }
.two { animation-delay: 0.4s; }
.three { animation-delay: 0.6s; }
  
@keyframes showHideDot {
	0% { opacity: 0; top: -1em;}
	30% { opacity: 1; top: -0.8em;}
	70% { opacity: 1; top: -0.8em; }
	100% { opacity: 0; top: -1em;}
}

.please-wait_heading {
    margin-top: 0;
    padding-top: 10rem;
    text-align: center;
}

.reminder {
    font-size: 120%;
    text-align: center;
	animation: rollreminder 5s infinite;
	position: relative;
}

@keyframes rollreminder {
	0% { opacity: 0; left: -5em;}
	25% { opacity: 1; left: 0em;}
	75% { opacity: 1; left: 0em; }
	100% { opacity: 0; left: 5em;}
}

/* THANKS PAGE */

.thanks{
    position: absolute;
    left: 32%;
    top: 40%;
    text-align: center; 
}

.thanks_title{
    margin: 0 auto 3rem auto;
    font-size: 175%;
    font-size: 350%;
    letter-spacing: .125rem;
    line-height: 2.25rem;
    line-height: 3.25rem;
    word-spacing: .2rem
}